body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.welcomeClass {
    color: gray;
    margin-left: 20px;
    margin-top: 15px;
}

.btn-company {
    margin: 7px 15px 17px 0;
}

.bootstrapMsg {
    margin-top: 0;
    position: absolute;
    width: 85%;
    z-index: 100;
    margin-left: 25px;
}

.text-align-center {
    text-align: center;
}

.img-width {
    width: 85%;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

.cursor-hand {
    cursor: pointer;
}

.fa-close {
    color: red;
}

.listStyle {
    list-style: none;
}

.fa-pencil-square-o {
    color: blue;
}

.display-none {
    display: none;
}

.m-t-25 {
    margin-top: 25px;
}

.modal-margin-btn {
    margin: 7px 15px 17px 0;
}

a {
    cursor: pointer;
}

.error {
    color: red;
}

.m-t-7 {
    margin-top: 7%;
}

.w-20 {
    width: 20px;
}

.portfolio-img:hover .portfolio-img-bg {
    display: block !important;
}

.portfolio-img-detail {
    color: white;
    display: block;
    height: auto;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 32%;
}

.portfolio-img-bg {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border-radius: 4px;
    bottom: 0;
    color: white;
    display: block;
    height: auto;
    left: 0;
    margin: 0 5% 2%;
    position: absolute;
    right: 0;
    top: 0;
}

.portfolio-img {
    position: relative;
}

.m-t-50 {
    margin-top: 50%;
}

.div_border {
    border: 1px solid black;
}

.border-bottom-0 {
    border-bottom: 0px;
}

.remove-li-style {
    list-style: none;
}

.spinner {
    width: 100px;
}

.spinner input {
    text-align: right;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.p-r-m-r-0 {
    padding-right: 0px;
    margin-right: 0px;
}

.w-96 {
    width: 96%
}

.case-address {
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 15px
}

.l-h-2-2 {
    line-height: 2.2em;
}

.b-1-b {
    border: 1px solid black
}

.p-t-10-p-b-2 {
    padding-top: 10px;
    padding-bottom: 2px;
}

.status-m {
    margin-top: 4px;
    margin-right: 27px;
}

.thumb {
    margin-bottom: 30px;
}

.img-port {
    width: 400px !important;
    height: 169px !important;
}

.img-background {
    position: absolute;
    color: white;
    background-color: black;
    opacity: 0.75;
    top: 5px;
    height: 210px;
}

.img-property {
    width: 95%;
    height: 150px;
}

.err-msg-user-report {
    display: none;
    margin-left: 0px;
    top: 0px;
    left: 52px;
}

.upload-user-report{
    color: rgb(71, 71, 207);
    text-decoration: underline;
    cursor: pointer
}